html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  background-color: rgb(218, 213, 216);
  font: 1.6rem Helvetica;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  position: sticky;
  z-index: 999;
  top: 0;
  grid-area: header;
  background-color: #9b1da2;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.welcome{
  text-align: center;
  padding: 1rem;
}
.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
#cart {
  padding-left: 10px;
  padding-right: 10px;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
}
.header-links a:hover{
  color: #6fff00;
}
.main{
  grid-area: main;
  margin-bottom: 110px;
}
#tw{
  overflow: hidden;
  height: 440px;
  width: 440px;
}
#crop{
  position: relative;
  height: 550px;
  top: -145px;
  left: -25px;
  -webkit-filter:invert(100%);
}
.footer{
  grid-area: footer;
  background-color: #9b1da2;
  color: #ffffff;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
a{
  text-decoration: none;
}
a:hover{
  color: #15ff00;
}

/* Home Screen */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 45rem;
  border-bottom: .1rem
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-rating{
  margin-bottom: 1rem;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.sidebar{
  margin-top: 5rem;
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 12rem;
  background-color: #f0f0f0;
  height: 15%;
  text-align: left;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 1.8rem;
  height: 1.8rem;
  padding: .5rem;
  font-size: 1.2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .2rem;
  top: .2rem;
}
#userinput{
  margin: 100px;
}
